@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Work+Sans:wght@500&display=swap');

body,
html {
  background-color: #121212;
  color: #FFF;
}

// Navigation

nav {
  background-color: #121212;
  margin: 0;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0;
    border-bottom: 2px solid #FFF;

    .mak {
      justify-self: start;
    }

    .rest {
      justify-self: end;
    }

    li {
      justify-self: center;
      list-style: none;
      padding: 1rem;

      a {
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        font-size: 20px;

        text-decoration: none;
        color: #FFF;
      }
    }
  }
}

// Hero Section

.hero {
  display: grid;
  color: #FFF;
  height: 100vh;
  .pop-out {
    display:grid;
    h1 {
      justify-self: center;
      align-self: end;

      font-family: 'Bitter', serif;
      font-size: 50px;
      font-weight: 200;

      color: #FFF;
    }
    a {
      justify-self: center;
      align-self: center;

      font-size: 60px;

      margin: 0;

      text-decoration: none;
      color:#FFF;
      &:hover{
        color:red;
      }
    }
  }
}

// About
.about {
  height: 100vh;
  display: grid;
  grid-template-areas:
    ". . . . ."
    "img img . h2 h2"
    "img img . p p";

  h2 {
    grid-area: h2;
    justify-self: center;
    align-self: center;
    font-family: 'Work Sans', sans-serif;
  }
  p{
    grid-area: p;
    justify-self: center;
    font-family: 'Bitter', serif;
  }
  img {
    grid-area: img;

    height:auto;

    max-width:100%;
    width: 40rem;

    padding: 1rem;

    border-radius: 3rem;
  }
}
div {
  display:grid;
  a {
    justify-self: center;
    align-self: start;

    font-size: 60px;

    margin: 0;

    text-decoration: none;
    color:#FFF;
    &:hover{
      color:red;
    }
  }
}


// Projects
.proj {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}
.project{
  display:grid;
  grid-gap:0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
  a {
    img {
      width:46rem;
      height:auto;
      max-width:100%;
    }
  }
}

// Contact
.cont {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}